* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: black;
    border-radius: 10px;
}

#my-products > div {
    background: darkgray;
    padding: 10px;
}

#my-products > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}